@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Nabla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.87);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.fancy-heading {
    font-size: 2.5rem;
    font-family: 'Nabla', cursive;
    cursor: pointer;
}

/* header */
nav.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
}

nav.header ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

nav.header ul a {
    text-decoration: none;
    color: #ddd;
}

nav.header ul li {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

nav.header ul li a:hover {
    color: #fff;
}

nav.header h1 {
    font-size: 2.5rem;
    font-family: 'Nabla', cursive;
    cursor: pointer;
}

/* hero */

main.hero {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
    /* border: 1px solid red; */
    padding: 3rem;
    gap: 3rem;
    width: 1200px;
    margin-inline: auto;
    background-color: rgba(255, 255, 255, 0.614);
    border: 5px solid rgba(255, 255, 255, 0.831);
    border-radius: 30px;
    -webkit-box-shadow: 6px 9px 23px -2px rgba(242, 189, 65, 0.73);
    -moz-box-shadow: 6px 9px 23px -2px rgba(242, 189, 65, 0.73);
    box-shadow: 6px 9px 23px -2px rgba(242, 189, 65, 0.73);
}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgba(255, 255, 255, 0.831);
    border-radius: 30px;
    -webkit-box-shadow: 5px 8px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 8px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 8px 25px 0px rgba(0, 0, 0, 0.75);
}

.hero .right {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero .right h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.4px;
    color: rgb(32, 32, 32);
    text-shadow: 2px 3px 4px rgba(255, 252, 91, 0.783);
}

.hero .right p {
    text-align: justify;
    font-size: 1.2rem;
}

.hero .right .ctas {
    display: flex;
    gap: 1.5rem;
}

.hero button {
    width: 120px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
    transition: all 0.3s ease-in;
    border-radius: 5px;
}

.hero button:first-child {
    background-color: rgba(239, 231, 66, 0.783);
    outline: black 2px solid;
}

.hero button:nth-child(2) {
    background: transparent;
    outline: 2px solid rgba(239, 231, 66, 0.783);
    color: rgba(239, 231, 66, 0.783);
}

.hero button:first-child:hover {
    outline: 2px solid rgba(239, 231, 66, 0.783);
    background: transparent;
    color: rgba(239, 231, 66, 0.783);
}

.hero button:nth-child(2):hover {
    background-color: rgba(239, 231, 66, 0.783);
    outline: black 2px solid;
    color: black;
}